<h1>Editar Libro</h1>

<%= render "form", book: @book %>

<br>

<div class="text-center mb-3 p-3">
  <%= link_to "Atrás", @book, :class => "btn btn-dark"%>
  <%= link_to "Ir a mis libros", books_path, :class => "btn btn-outline-primary" %>
  
</div>
